@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3F5FC;
}

.header_logo {
    padding: 40px;
    width: 15%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.container__section1 {
    font-weight: normal;
    font-size: 12px;
    margin-left: 200px;
    margin-top: 28px;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

::-webkit-input-placeholder {
    color: #0A3871;
 }

 textarea {
    resize: none;
    border: none;
 }
.container__section1__areadotexto{
    font-size: 32px;
    color: #0A3871;
    width: 150%;
    height: 500px;
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
}

.container__section1__alerta {
    display: flex;
    gap: 8px;
    color: #495057;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    margin-top: 45px;
    margin-bottom: 16px ;
}

.container__section1__botoes {
    display: flex;
    gap: 24px;

}

.container__section1__botoes__button1 {
    background-color: #0A3871;
    font-family: 'Inter', sans-serif;
    height: 67px;
    width: 328px;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.container__section1__botoes__button2 {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    height: 67px;
    width: 328px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400; 
}


.container__section2 { 
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 400px;
    height: 600px;
    margin-right: 40px;
    margin-top: -100px;
    padding: 150px 32px 50px 32px  ;
}

.container__section2__imagem_svg {
    height: 304px;
    width: 336px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #495057;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    word-wrap: break-word;
    text-align: center;
    height: auto;
    width: 100%;
}

.container__section2__divBotao {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container__section2__divBotao__botaoCopiar{
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    height: 67px;
    width: 328px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
}

.rodape {
    display: flex;
    color: #0A3871;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-size: 16px ;
    font-weight: normal;
    line-height: 24px;
    word-wrap: break-word;
    gap: 15px;
}      

.icons_rodape {
    position: relative;
    margin-top: -35px !important;
    padding: 0 !important;
    height: 30px;
    width: 40px;
    border-radius: 5px;
}